/*follower.ejs, following.ejs와 동일하게 작성함*/

body{
    display: block;
    flex-wrap: wrap; /*display flex 요소와 함께 쓰며 한 줄에 다 못 담을 때 다음 줄로 넘긴다는 문장*/
    background: linear-gradient(to right, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}
.container{
    background: rgb(251, 253, 254);
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 45%;
    margin: 25px auto;
    text-align: center;
}

.follower-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 30px auto;
  max-width: 900px;
}

.follower-item {
  width: 200px;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.follower-item:hover {/*팔로워 박스에 마우스를 올렸을 때의 스타일 지정정*/
  transform: translateY(-5px);/*위로 5px만큼 올라감*/
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);/* 박스 그림자가 더 진해짐*/
}

.follower-item img {/*이미지를 원형으로하고 크기 조정*/
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  /*img나 video에서 지정된 width, height 안에 꽉 차도록 비율 유지하며 설정함*/
  margin-bottom: 10px;
}

.follower-item p {
  margin: 5px 0;
  font-size: 14px;
}

.follower-item strong {
  font-size: 16px;
  display: block;
  margin-bottom: 4px;
}

button{
  padding:8px;
  background-color: #3a95ea;
  color:#ffffff;
  border-radius:15px;
  font-size:12pt;
  font-weight:bold;
}

button:hover{
  background-color: #2f92f0;
  transition:0.2s ease-in-out;
  transform:scale(1.1);
}

#gohome{/*홈 화면으로 가는 버튼 스타일 지정*/
  padding:16px 24px;
  background-color: #ffffff;
  color:#000000;
  border: 2px solid black; /* 두께, 스타일, 색상 */
  width: 20%;
  display: flex;
  justify-content: center; /* display가 flex일 때 사용함 가로 중앙 정렬 */
  margin: 0 auto;
  margin-top: 50px;
  font-size:14pt;
}

#gohome:hover{
  transform:scale(1.1);
  border-radius:30px;
}